/*导航*/
nav{
	background-color: #fc3538;
	width: 100%;
	height: 0.88rem;
	display: flex;
	justify-content: space-between;
	padding: 0 0.24rem;
	box-sizing: border-box;
}
nav > .menu{
	display: block;
}
nav > .menu > img{
	width: 0.64rem;
	display: block;
	padding-top: 0.12rem;
}
nav > .nav > a:first-child{
	font-size: 0.36rem;
	color: #fdfdfd;
	line-height: 0.88rem;
}
nav > .nav > a:nth-child(2){
	font-size: 0.4rem;
	color: #fdfdfd;
	line-height: 0.88rem;
	margin: 0 0.88rem;
	font-weight: 500;
}
nav > .nav > a:last-child{
	font-size: 0.36rem;
	color: #fdfdfd;
	line-height: 0.88rem;
}
nav > .search{
	display: block;
}
nav > .search > img{
	width: 0.69rem;
	display: block;
	padding-top: 0.12rem;
}
/*导航*/
.dao{
	width: 100%;
	height:0.88rem;
	padding: 0 0.3rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	background-color: #fefcfc;
}
.dao a{
	font-size: 0.36rem;
	color: #1b1616;
	line-height: 0.88rem;
}
.dao a:first-child{
	color: #fc3538;
	position: relative;
}
.dao a:first-child:after{
	content: "";
	width:0.72rem;
	height: 2px;
	background-color:#fc3538;
	position: absolute;
	left:0;
	bottom:0;
}
/*banner*/
.ban{
	width: 100%;
	height:auto;
	overflow: hidden;
	position: relative;
}
.ban ul.banner{
	width: 100%;
	height:auto;
	overflow: hidden;
}
.ban ul.banner li{
	width: 100%;
}
.ban ul.banner li a{
	display: block;
}
.ban ul.banner li a img{
	width:100%;
}
.ban .circle{
	width: 2.6rem;
	height:0.3rem;
	position: absolute;
	left:2.7rem;
	bottom: 0.04rem;
}
.ban .circle a{
	display: block;
	width: 0.22rem;
	height: 0.22rem;
	border-radius: 50%;
	background-color: #d7cfd0;
	float: left;
	margin: 0 0.1rem;
}
.ban .circle a:nth-child(3){
	background-color: #fc3538;
}
/*新歌首发*/
.new{
	display: block;
	overflow: hidden;
	padding: 0 0.24rem;
}
.new img{
	width: 0.5rem;
	padding-top: 0.3rem;
	float: left;
}
.new span{
	float: left;
	font-size: 0.36rem;
	color: #1b1616;
	padding-top: 0.3rem;
}  
ul.new-sing{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	padding: 0 0.24rem;
	margin-top: 0.3rem;
	box-sizing: border-box;
}
ul.new-sing li{
	width: 2.2rem;
	text-align: center;
}
ul.new-sing li a{
	display: block;
	width: 2.2rem;
}
ul.new-sing li:first-child a div{
	width: 2.2rem;
	height: 2.2rem;
	background-image: url("../img/1.jpeg");
	background-size: cover;
}
ul.new-sing li:nth-child(2) a div{
	width: 2.2rem;
	height: 2.2rem;
	background-image: url("../img/2.jpg");
	background-size: cover;
}
ul.new-sing li:last-child a div{
	width: 2.2rem;
	height: 2.2rem;
	background-image: url("../img/3.jpg");
	background-size: cover;
}
ul.new-sing li a h3{
	font-size: 0.3rem;
	color: #4d4949;
	font-weight: normal;
	margin-top: 0.2rem;
}
ul.new-sing li a h4{
	font-size: 0.3rem;
	color: #4d4949;
	font-weight: normal;
}
/*为您推荐*/
.recommend{
	display: block;
	overflow: hidden;
	padding: 0 0.24rem;
}
.recommend img{
	width: 0.5rem;
	padding-top: 0.3rem;
	float: left;
}
.recommend span{
	float: left;
	font-size: 0.36rem;
	color: #1b1616;
	padding-top: 0.3rem;
}
ul.recommend-tj{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 0.24rem;
	margin-top: 0.3rem;
	box-sizing: border-box;
	margin-bottom: 1rem;
}
ul.recommend-tj li{
	width: 3.3rem;
	text-align: center;
}
ul.recommend-tj li a{
	display: block;
	width: 3.3rem;
}
ul.recommend-tj li:first-child a div{
	width: 3.3rem;
	height: 2.2rem;
	background-image: url("../img/tj1.jpg");
	background-size: cover;
}
ul.recommend-tj li:nth-child(2) a div{
	width: 3.3rem;
	height: 2.2rem;
	background-image: url("../img/tj2.jpg");
	background-size: cover;
}
ul.recommend-tj li:nth-child(3) a div{
	width: 3.3rem;
	height: 2.2rem;
	background-image: url("../img/tj3.jpg");
	background-size: cover;
}
ul.recommend-tj li:last-child a div{
	width: 3.3rem;
	height: 2.2rem;
	background-image: url("../img/tj4.jpg");
	background-size: cover;
}
ul.recommend-tj li a h3{
	font-size: 0.24rem;
	color: #4d4949;
	font-weight: normal;
	margin: 0.3rem  0;
}
/*底部*/
html{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
body{
	width: 100%;
	height: 100%;
	overflow: auto;
}
.play{
	width:100%;
	height: 1rem;
	border-top: 1px solid #fc3538;
	padding: 0 0.24rem;
	box-sizing: border-box;
	position: absolute;
	left:0;
	bottom: 0;
	background-color: #fefcfc;
}
.play .play-img{
	display: block;
	float: left;
	margin: 0.02rem 0;
}
.play .play-img img{
	width: 0.96rem;
}
.play .text{
	padding-left: 0.2rem;
	float: left;
}
.play .text h5{
	font-size: 0.24rem;
	font-weight: normal;
	color: #1b1717;
	padding-top: 0.2rem;
}
.play .text h6{
	font-size: 0.24rem;
	color: #a49e9e;
}
.play ul{
	float: right;
	padding-top: 0.24rem;
}
.play ul li{
	float: left;
}
.play ul li a{
	display: block;
}
.play ul li a img{
	width: 0.6rem;
}
.play ul li:nth-child(2){
	padding: 0  0.5rem;
}